body {
	background: orange;
	height: 100vh;
	display: grid;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}
#c1 {
	font-size: 1.25em;
}
#c2 {
	font-size: 1.14em;
}
#c3 {
	font-size: .99em;
}
#c4 {
	font-size: 1.35em;
}
#c5 {
	font-size: 1.22em;
}