body {
	background: #303030;
	color: #FF7800;
	height: 95vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
img{
	z-index: 2;
	height: 100px;
	filter: drop-shadow(1px 1px 5px #0d0d0d);
}
p{
	z-index: 1;
}

#c1, #s1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1.25em;
}
#c2, #s2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1.14em;
}
#c3, #s3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: .99em;
}
#c4, #s4 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1.35em;
}
#c5, #s5 {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1.22em;
}
#c6, #s6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.14em;
}
#c7, #s7 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.08em;
}
#c8, #s8 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.37em;
}
#c9, #s9 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.31em;
}
#c10, #s10 {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.40em;
}
#c11, #s11 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: 1.14em;
}
#c12, #s12 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: 1.04em;
}
#c13, #s13 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: 1.29em;
}

.rotating {
   animation: rotate 15s linear infinite;
}
.tilting {
   animation: tilt 1s linear infinite;
}

@keyframes rotate {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}
@keyframes tilt {
   0%, 50%, 100% { transform: rotate(0deg); }
   25% { transform: rotate(45deg); }
   75% { transform: rotate(-45deg); }
}